.hexagon-wrapper {
    margin: auto;
    display: flex;
    text-align: initial;
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
  
  .hexagon, .hexagon1 {
    position: relative;
    width: 46%;
    height: 80%;
    margin: auto;
    color: white;
    border-radius: 0.5em;
    /* background: linear-gradient(-180deg, rgb(73, 71, 71), #222121); */
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
  }
  
  .hexagon:before,
  .hexagon:after {
    position: absolute;
    content: "";
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    transition: 0.5s;
    transform-origin: center;
  }
  .hexagon:before {
    transform: rotateZ(60deg);
  }
  .hexagon:after {
    transform: rotateZ(-60deg);
  }
.hexagon1{
    width: 96%;
    height: 91%;
}
  .hexagon1:before,
  .hexagon1:after {
    position: absolute;
    content: "";
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    transition: 0.5s;
    transform-origin: center;
  }
  .hexagon1:before {
    transform: rotateZ(60deg);
  }
  .hexagon1:after {
    transform: rotateZ(-60deg);
  }